/* CSS Document */
body	{
	margin: 0px;
	
	font-size: 12px;
	color:#333333;
}

#header	{
	background: url(../images/header-bg.jpg) top repeat-x;
}

#headerrt-curve	{
	background: url(../images/header-rt-curve.jpg) top right no-repeat;
}

#menus	{
	font-size: 11px;
	color:#10375E;
	font-style:italic;
	height: 32px;	
}

#menu	{
	height: 32px;
	background: url(images/menu-bg.jpg) top repeat-x;
	color: #022855;
	font-style: italic;
	font-weight: bold;
}

#menu p	{
	margin: 0px;
	padding-top: 10px;
}

#menu p a	{
	color: #022855;
	text-decoration: none;
}

#menu p a:hover	{
	color: #ffffff;
	text-decoration: none;
}

#menu-rtbg	{
	height: 32px;
}



div#menu1	{
	width: 97px;
	float: left;
	text-align: center;
	height: 32px;
}
div#menu1:hover	{
	width: 97px;
	float: left;
	text-align: center;
	height: 32px;
	color: #333333;
	background:url(../images/over-img.jpg) center no-repeat;
}



#left-menubg	{
	background: url(../images/left-menubg.jpg) top repeat-x;
}

#left-menu	{
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

#left-menu a	{
	margin: 0px;
	text-decoration: none;
	color:#426DA0;
	font-size:16px;
}

#left-menu ul	{
	margin: 0px;
	line-height: 24px;
	list-style:url(../images/index_04.gif);
	padding-left:0px;
	padding-right:0px;
	padding-top: 15px;
	color:#273E43;
}

#left-menu ul li	{
	margin: 0 25px 0 0;
	display:inline;
}


#cont-bg	{
	background: url(../images/cont-bg.jpg) bottom repeat-x;
}

#cont-bg p	{
	margin: 0px;
}

#cont-btmcurv	{
	background: url(../images/cont-btmcurv.jpg) bottom no-repeat;
	height: 13px;
}
	

#footer	{	
	height: 30px;
	background-color: #195A9E;
	color: #FFFFFF;
	font-size:11px;
}


#footer p	{
	margin: 0px;
	padding-top: 8px;
}

.success {color: #060;font-weight: bold; font-size: 14px;}